<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_btn_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{153,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,69}}</string>
                <key>sourceSize</key>
                <string>{153,69}</string>
            </dict>
            <key>01_btn_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{165,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,75}}</string>
                <key>sourceSize</key>
                <string>{165,75}</string>
            </dict>
            <key>01_btn_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2},{177,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,75}}</string>
                <key>sourceSize</key>
                <string>{177,75}</string>
            </dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{52,68}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{66,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{66,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>can.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{80,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{80,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,2},{46,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{46,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,2},{74,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{74,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,54},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>hook.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,2},{71,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,60}}</string>
                <key>sourceSize</key>
                <string>{71,60}</string>
            </dict>
            <key>hook_catch.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,2},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{71,60}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{56,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,69}</string>
            </dict>
            <key>ranking_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,85}}</string>
                <key>sourceSize</key>
                <string>{231,85}</string>
            </dict>
            <key>silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,2},{80,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{80,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{78,76}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{78,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>water.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,54},{192,32}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,5},{192,32}}</string>
                <key>sourceSize</key>
                <string>{240,40}</string>
            </dict>
            <key>water2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,2},{196,34}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,3},{196,34}}</string>
                <key>sourceSize</key>
                <string>{240,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>output.png</string>
            <key>size</key>
            <string>{1618,89}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21bb7d0ff4c7deb3b24c7a3c6fc1b3e2:2b0197b2f994f8635121225d196b350f:da66993a95d7f47140eed802fe114388$</string>
            <key>textureFileName</key>
            <string>output.png</string>
        </dict>
    </dict>
</plist>
